<%- include('partials/header'); -%>

<form action="">
<h2>log in</h2>
<label for="email">email</label>
<input type="text" name="email" required>
<div class="email error"></div>

<label for="psw">password</label>
<input type="password" name="psw" required>
<div class="psw error"></div>

<button>log in</button>
</form>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const pswError = document.querySelector('.psw.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        emailError.textContent = '';
        pswError.textContent = '';

        //取值
        let email = form.email.value;
        let psw = form.psw.value;

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ email: email, password: psw }),
                headers: { 'Content-Type': 'application/json' }
            })

            const data = await res.json();
            console.log(data);
            if (data.errors) {
                emailError.textContent = data.errors.email;
                pswError.textContent = data.errors.password;
            }

            if (!data.errors) {
                location.assign('/');
            }

        } catch(err){
            console.log(err);
        }
    });

</script>

<%- include('partials/footer'); -%>